.post {
    background-color: #5a5a5a;
    padding: 1rem;
    margin: 1rem;
    color: white;
}

.like_button {
    background-color: rgb(43, 43, 43);
    padding: 0.2rem;
    width: 4rem;
}
.comments {
    margin-left: 8rem;
}
.comments div {
    background-color: rgb(43, 43, 43);
    padding: 0.4rem;
    margin: 0.4rem;
}